NODE_ENV=production
PORT=6000
MONGODB_URL=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
FIREBASE_API_KEY=
FRONTEND_URL=
ADMIN_URL=
